@model Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Księgarnia : formularz zamówienia";
}

<h2>Złóż zamówienie</h2>
<p>Wprowadź swoje dane kontaktowe.</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Dane</h3>
    <div class="form-group">
        <label>Twoje Imie:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})
    </div>

    <h3>Adress</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>
                    @(property.DisplayName ?? property.PropertyName)
                </label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>Opcji</h3>
    <div class="form-group">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Używaj pakowania prezentów?
        </label>
    </div>
    
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Zamów"/>
    </div>
}

